body{
	background: darkcyan;
}
li {
	display: inline;
}
li>a {
	text-decoration: none;
	background-color: yellow;
	padding: 10px;
}
li>a:hover{
	background-color: lightgoldenrodyellow;
}
@media screen and (max-width: 1024px){
#E4 { display: none; }
}
@media screen and (max-width: 768px){
#E4 {display: none;}
#E3 {display: none;}
}
@media screen and (max-width: 480px){
#E2 {display: none;}
#E3 {display: none;}
#E4 { display: none; }
}
